# Ignorar archivos de compilación y dependencias
target/
bin/
*.jar
*.war
*.ear

# Ignorar archivos de IDE
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

# Ignorar archivos de configuración local (pero permitir application.properties)
application-local.properties
application-dev.properties
application-prod.properties
*.log

# Ignorar archivos de base de datos H2 (si usas H2 en memoria)
*.db
*.trace.db

# Ignorar archivos del sistema
.DS_Store
Thumbs.db